.editable-field {
    height: 100%;

    input,
    textarea {
        border: none;
        background-color: transparent;
        outline: none;
        width: 100%;
        min-height: 100%;
        max-height: 300px;
        resize: none;
        padding: 0.5rem 0.5rem;
        box-sizing: border-box;
        cursor: text;
    }

    &.editing {
        background-color: rgba(100, 100, 100, 0.2);
    }
}